.page-5 {
  flex-direction: column;
  align-items: center;
}

.blocks {
  width: 79.79%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-5 .heading {
  margin: 1.25rem 0 1.125rem 0;
  width: 69.53%;
  text-transform: none;
  text-align: center;
}

.purple-block {
  padding: 0.9375rem 1.8125rem 0.9375rem 0.875rem;
  margin-bottom: 0.5625rem;
}

.block p {
  font-size: 0.9375rem;
  line-height: 1.125rem;
  margin: 0;
}

.page-5 ul {
  margin-top: 0;
  margin-bottom: 0;
}

.green-block {
  padding: 0.8125rem 1.0rem 0.875rem;
}

.footer-text {
  width: 62.29%;
  margin-left: 1.875rem;
  margin-bottom: 0.5rem;
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.875rem;
}
.footer-code {
  margin-right: 0.3125rem;
  margin-bottom: 0.6875rem;
  font-size: 0.75rem;
  line-height: 0.875rem;
}

.button {
  align-self: flex-end;
  margin-top: 4.9375rem;
  margin-right: -4.125rem;
  margin-bottom: 2.3125rem;
  padding: 0.875rem 3.75rem 1.0625rem 3.6875rem;
}

@media screen and (max-width: 600px) {
  .page-5 .heading {
    width: 100%;
    margin-bottom: 27px;
  }
  .blocks {
    width: 86.25%;
  }
  .purple-block {
    padding: 11px 6px 13px 21px;
    margin-bottom: 15px;
  }
  .block p {
    font-size: 12px;
    line-height: 14px;
  }
  .green-block {
    font-size: 12px;
    line-height: 14px;
    padding: 18px 17px 20px 19px;
  }
  .button {
    margin-top: 19px;
    margin-bottom: 140px;
    margin-right: unset;
    align-self: unset;
    font-size: 12px;
    line-height: 15px;
  }

  .footer-text {
    font-size: 6px;
    line-height: 8px;
    margin-left: 21px;
    margin-bottom: 26px;
  }
  .footer-code {
    font-size: 6px;
    line-height: 8px;
    margin-right: 19px;
    margin-bottom: 85px;
  }
}
