.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  color: #838383;
}

.text {
  margin: 0;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #838383;
}

.code {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: #838383;
}

@media screen and (max-width: 600px) {
  .text {
    font-weight: 400;
    font-size: 6px;
    line-height: 8px;
  }

  .code {
    font-weight: 300;
    font-size: 6px;
    line-height: 8px;
  }
}
