.button {
  background-color: #fecd2f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4f0b7b;
  text-transform: uppercase;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  border-radius: 0.9375rem;
  padding: 1.0625rem 3.75rem;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .button {
    border-radius: 10px;
  }
}
