.container {
  display: flex;
  flex-direction: column;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-weight: 600;
  border-radius: 0.4375rem;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: #ffffff;
  background-color: #532f88;
}

.container span {
  color: #fecd2f;
}

.answer {
  border: 0.0625rem solid #67656a;
  position: relative;
  border-radius: 1.3125rem;
  font-weight: 600;
  height: 3.5rem;
  width: 84.87%;
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: uppercase;
  color: #67656a;
  background-color: transparent;
  text-align: left;
  padding-left: 3.5rem;
  cursor: pointer;
}
.answer::after {
  position: absolute;
  content: attr(data-number);
  width: 3.5rem;
  height: 3.5rem;
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4375rem;
  text-transform: uppercase;
  color: #67656a;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 0.125rem solid #67656a;
  top: -0.25rem;
  left: -0.625rem;
  background-color: white;
}

.choosed {
  background-color: #c5c5c5;
}
.choosed::after {
  background-color: #c5c5c5;
}

.correct {
  background-color: #44babe;
  color: white;
  font-weight: 600;
}
.correct::after {
  background-color: #44babe;
  content: '';
  background-image: url('../../../assets/correctIcon.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.wrong {
  background-color: #fc367a;
  color: white;
  font-weight: 400;
}
.wrong::after {
  background-color: #fc367a;
  content: '';
  background-image: url('../../../assets/wrongIcon.png');
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

@media screen and (max-width: 600px) {
  .answer {
    width: 100%;
  }
}
