.layout {
  position: relative;
  background-color: #2c2330;
  border-radius: 44px;
  width: 80.6%;
  aspect-ratio: 1065 / 623;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 41px 50px 41px 55px;
}

.layout::after {
  box-sizing: border-box;
  content: '';
  position: absolute;
  top: 21px;
  width: 10.4px;
  height: 10.4px;
  left: calc(50% - 7.5px);
  border-radius: 50%;
  background-color: #d6b5ed;
  border: 2px solid #4f0b7b;
}

.startPage::after {
  border: 2px solid #26949a;
}

.navigation {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.container {
  position: relative;
  width: 100%;
  display: flex;
  aspect-ratio: 960 / 540;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1400px) {
  .layout {
    padding: 37px 42px 37px 45px;
    border-radius: 36px;
  }
  .layout::after {
    top: 17px;
  }
}
@media screen and (max-width: 1200px) {
  .layout {
    padding: 28px 31px 28px 33px;
    border-radius: 28px;
  }
  .layout::after {
    top: 12px;
    width: 8px;
    height: 8px;
  }
}
@media screen and (max-width: 992px) {
  .layout {
    padding: 19px 23px 19px 25px;
    border-radius: 17px;
  }
  .layout::after {
    top: 10px;
    width: 5px;
    height: 5px;
  }
}
@media screen and (max-width: 768px) {
  .layout {
    padding: 10px 13px 10px 15px;
    border-radius: 10px;
  }
  .layout::after {
    top: 4px;
    width: 4px;
    height: 4px;
  }
}
@media screen and (max-width: 600px) {
  .layout {
    width: 320px;
    aspect-ratio: initial;
    background-color: transparent;
    border: none;
    padding: 0px;
    border-radius: 0;
    min-height: 465px;
  }
  .layout::after {
    content: none;
  }

  .navigation {
    display: none;
  }

  .container {
    aspect-ratio: unset;
    align-items: start;
  }
}
