.page-1 {
  display: flex;
  flex-direction: column;
  width: 61.14%;
  padding: 17px 0px 0px 22px;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: #532f88;
}
.page-1 h1 {
  width: 79.38%;
}
.page-1 span {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  margin-top: 9px;
  margin-bottom: 6px;
  vertical-align: top;
  color: #532f88;
}
.blocks {
  height: 65.66%;
  width: 100%;
  display: flex;
}
.right-col {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  justify-content: space-between;
}
.page-1 ul {
  list-style: none;
  padding-left: 1.2rem;
}
.page-1 li::before {
  position: absolute;
  content: '\2022';
  color: inherit;
  margin-left: -0.8rem;
}
.page-1 h2 {
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  color: #955dc6;
}
.purple-block {
  font-weight: 400;
}
.block-1 {
  padding: 15px 7px 28px 13px;
  margin-right: 9px;
}
.block-2 {
  padding: 15px 15px 13px 15px;
}

.button {
  display: none;
}

.footer-text {
  margin-left: 22px;
  margin-bottom: 12px;
  width: 57.29%;
}
.footer-code {
  margin-right: 7px;
  margin-bottom: 11px;
}

@media screen and (max-width: 600px) {
  .page-1 {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image {
    top: 94px;
    left: 66px;
  }
  .page-1 h1 {
    width: 86.25%;
    margin-top: 35px;
    margin-bottom: 206px;
  }

  .page-1 span {
    display: none;
  }
  .blocks {
    display: none;
  }

  .page-1 ul {
    list-style: unset;
  }

  .page-1 li::before {
    display: none;
  }

  .button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #4f0b7b;
    padding: 10px 52px;
    display: block;
    margin-bottom: 108px;
  }

  .footer-text {
    margin-left: 16px;
    margin-bottom: 62px;
    width: 75.93%;
  }
  .footer-code {
    margin-right: 15px;
    margin-bottom: 81px;
  }
}
