.page12 .quiz {
  width: 59.17%;
}

.page12 .heading {
  margin: 1.125rem 0.5rem 2.0rem 1.625rem;
  padding: 0.9375rem 3.0rem 0.9375rem 2.125rem;
}

.page12 .answer {
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  margin: 0.625rem 0;
  margin-left: 2.9375rem;
  margin-right: 2.3125rem;
}

.page12 .button {
  margin-top: 2.0rem;
  padding: 1.0rem 2.5rem 0.9375rem 2.9375rem;
}

.footer-text {
  margin-left: 1.375rem;
  margin-bottom: 0.25rem;
  width: 51.04%;
}
.footer-code {
  margin-bottom: 0.6875rem;
  margin-right: 0.3125rem;
  color: white;
}

@media screen and (max-width: 600px) {
  .page12 .quiz {
    width: 100%;
    padding: 0 22px 0 18px;
  }

  .page12 .image {
    right: 68px;
    top: 22px;
  }

  .page12 .heading {
    margin: 219px 0 16px 0;
    font-weight: 600;
    width: 276px;
    padding: 11px 23px 14px 26px;
    font-size: 13px;
    line-height: 15px;
  }

  .page12 .answer {
    margin: 6px 0;
    font-size: 10px;
    line-height: 12px;
    padding-left: 60px;
    padding-right: 0;
  }

  .page12 .button {
    padding: 10px 40px 10px 41px;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 40px 84px 41px;
    margin-top: 8px;
  }

  .footer-text {
    margin-left: 29px;
    margin-bottom: 39px;
    font-size: 6px;
    line-height: 8px;
    width: 159px;
  }

  .footer-code {
    color: #838383;
    font-size: 6px;
    line-height: 8px;
    margin-right: 18px;
    margin-bottom: 44px;
  }
}
