.page12 .quiz {
  width: 59.17%;
}

.page12 .heading {
  margin: 18px 8px 32px 26px;
  padding: 15px 48px 15px 34px;
}

.page12 .answer {
  padding-left: 60px;
  padding-right: 60px;
  margin: 10px 0;
  margin-left: 47px;
  margin-right: 37px;
}

.page12 .button {
  margin-top: 32px;
  padding: 16px 40px 15px 47px;
}

.footer-text {
  margin-left: 22px;
  margin-bottom: 4px;
  width: 51.04%;
}
.footer-code {
  margin-bottom: 11px;
  margin-right: 5px;
  color: white;
}

@media screen and (max-width: 600px) {
  .page12 .quiz {
    width: 100%;
    padding: 0 22px 0 18px;
  }

  .page12 .image {
    right: 68px;
    top: 22px;
  }

  .page12 .heading {
    margin: 219px 0 16px 0;
    font-weight: 600;
    width: 276px;
    padding: 11px 23px 14px 26px;
    font-size: 13px;
    line-height: 15px;
  }

  .page12 .answer {
    margin: 6px 0;
    font-size: 10px;
    line-height: 12px;
    padding-left: 60px;
    padding-right: 0;
  }

  .page12 .button {
    padding: 10px 40px 10px 41px;
    font-size: 12px;
    line-height: 15px;
    margin: 10px 40px 84px 41px;
    margin-top: 8px;
  }

  .footer-text {
    margin-left: 29px;
    margin-bottom: 39px;
    font-size: 6px;
    line-height: 8px;
    width: 159px;
  }

  .footer-code {
    color: #838383;
    font-size: 6px;
    line-height: 8px;
    margin-right: 18px;
    margin-bottom: 44px;
  }
}
