.page-13 {
  flex-direction: column;
  padding: 0 1.4375rem 0 1.1875rem;
  align-items: center;
}

.pre-heading {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: #4f0b7b;
  margin: 1.1875rem 0 0 0;
  width: 100%;
}

.heading {
  font-weight: 600;
  font-size: 1.0rem;
  line-height: 1.25rem;
  text-align: center;
  color: #ffffff;
  width: 45.31%;
  padding: 0.1875rem 1.5rem 0.125rem 0.1258rem;
  background: #532f88;
  border-radius: 0.9375rem;
  margin-top: 2.5rem;
}

.arrows {
  width: 27.29%;
  display: flex;
  justify-content: space-between;
}
.arrows .right {
  transform: scale(-1, 1);
}

.blocks {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.4375rem;
  justify-content: space-between;
}

.purple-block {
  width: calc(50% - 0.625rem);
  padding: 0.5625rem 0.6875rem 0.625rem 1.25rem;
  background: #eae2f4;
  margin: 0 0.3125rem 0;
  border-radius: 0.9375rem;
}
.block-heading h3 {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1.0rem;
  color: #532f88;
}
.purple-block p {
  font-weight: 400;
  font-size: 0.8125rem;
  line-height: 1.0rem;
  color: #532f88;
}
.purple-block span {
  font-size: 0.6875rem;
  line-height: 0.8125rem;
}

.green-block {
  padding: 0.875rem 1.375rem 0.9375rem 1.4375rem;
  width: 100%;
  background: #03b7bf;
  border-radius: 0.9375rem;
  font-weight: 700;
  font-size: 0.9375rem;
  margin-top: 1.5625rem;
  line-height: 1.125rem;
  color: #ffffff;
}
.green-block p {
  margin: 0;
}

.button {
  align-self: flex-end;
  padding: 0.875rem 3.75rem 1.0625rem 3.6875rem;
  margin-top: 1.5625rem;
}

.footer-text {
  font-weight: 300;
  width: 75.83%;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-bottom: 0.4375rem;
  margin-left: 1.1875rem;
}
.footer-code {
  font-weight: 300;
  font-size: 0.75rem;
  line-height: 0.875rem;
  margin-right: 0.8125rem;
  margin-bottom: 0.6875rem;
}

@media screen and (max-width: 600px) {
  .page-13 {
    padding: 0 22px;
  }
  .pre-heading {
    font-size: 13px;
    margin-top: 28px;
    line-height: 15px;
    text-align: center;
  }
  .heading {
    width: 100%;
    font-weight: 600;
    font-size: 13px;
    line-height: 15px;
    margin-top: 17px;
    padding: 0;
    border-radius: 7px;
    text-transform: lowercase;
    margin-bottom: -1px;
    padding: 3px 7px 9px 8px;
  }
  .heading::first-letter {
    text-transform: uppercase;
  }

  .blocks {
    margin-top: 0;
  }
  .purple-block {
    width: 100%;
    margin: 5px 0;
  }
  .block-heading {
    display: flex;
    justify-content: space-between;
  }
  .block-button {
    width: 34px;
    height: 34px;
    border: none;
    border-radius: 50%;
    background-color: white;
  }
  .block-heading h3 {
    margin: 0;
    width: 80%;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;
  }
  .purple-block p {
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  }
  .purple-block span {
    font-size: 10px;
    line-height: 12px;
  }
  .hidden {
    display: none;
  }

  .green-block {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    padding: 9px 11px 10px 20px;
  }
  .reversed {
    transform: scale(-1, -1);
  }
  .green-block p {
    width: 90%;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
  }

  .button {
    align-self: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 11px 52px 10px;
    margin-top: 17px;
    margin-bottom: 123px;
  }

  .footer-text {
    font-weight: 300;
    font-size: 6px;
    line-height: 8px;
    width: 236px;
    margin-left: 22px;
    margin-bottom: 37px;
  }

  .footer-code {
    font-weight: 300;
    font-size: 6px;
    margin-right: 17px;
    margin-bottom: 85px;
    line-height: 8px;
  }
}
