.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: auto;
}

.heading {
  margin: 49px auto 77px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading-h {
  width: 97%;
}

.heading-h h1 {
  font-weight: 500;
  font-size: 50px;
  margin: 0 0 54px 0;
  line-height: 138.9%;
  text-transform: uppercase;
  color: #532f88;
}

.heading-h hr {
  width: 94%;
  border-top: 3px solid #44babe;
  margin: 0;
  color: transparent;
}

.heading p {
  font-weight: 600;
  width: 93%;
  line-height: 138.9%;
  font-size: 22px;
  color: #532f88;
  margin: 0;
  margin-top: 27px;
}
