.page {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  aspect-ratio: 960 / 540;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

@media screen and (max-width: 600px) {
  .page {
    aspect-ratio: unset;
  }

  .image {
    overflow: hidden;
    width: 183px !important;
    height: 183px;
    top: unset;
    right: unset;
    border-radius: 50%;
  }
}
