.button {
  width: 1.6875rem;
  height: 3.125rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.button svg {
  width: 1.6875rem;
  height: 3.125rem;
}

@media screen and (max-width: 600px) {
  .button {
    margin: 10px;
  }
}
